*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
    align-content: center;
}
h1{
    height: 250px;
    background-color: brown;
    font-size: 70px;
    color: rgb(235, 234, 240);

}
.select{
    margin-top: 50px;
    width: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
        
 
}
.player{
    height: 155px;
    width: 700px;
    margin-top: 17px;
   
    position: center;
    font-size: 65px;
    background-color: bisque;
    border-radius: 40px;
    

}
.button:hover{
    background-color: black;
}

.button{
    height: 190px;
    width: 742px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* justify-content: center;
    align-items: center; */
    border-radius: 50px;
    margin-top: 0px;
    padding: 0px;
    
}
@media screen and (max-width:600px){
.full{
    height: cover;
    width: cover;
}
h1{
    height: fit-content;
    background-color: brown;
    font-size: 78px;
}
.button{
    height: 300px;
    width: 510px;
    display: flex;
    justify-content: center;
    align-content: center;
    /* justify-content: center;
    align-items: center; */
    border-radius: 50px;
    
}
.select{
    margin-top: 80px;
    width: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
        
 
}
.player{
    height: 250px;
    width: 473px;
    margin-top: 25px;
   
    position: center;
    font-size: 93px;
    background-color: bisque;
    border-radius: 40px;
    

}
}